.name{
  color:#fff;
}
.git{
  color:#fff;
  border: solid 2.5px;
  background-color: #000;
  border-color: #fff;
}
.linkedIn{
  color:#fff;
  border:solid 2.5px;
  background-color:#27B5FB;
  border-color:#fff;
}
.insta{
  color:#fff;
  border: solid 2.5px;
  background-color: #F0465C;
  border-color:#fff;
}